{
	"friendlyguard_hail" : {
		"felin" : {
			"default" : [
				"Boss~",
				"Reporting for duty, Boss!",
				"All clear, Boss!",
				"Love ya, Boss."
			],
			"human" : [
				"Boss?",
				"Reporting for duty, Boss!",
				"All clear, Boss!"
			],
			"hylotl" : [
				"Boss~",
				"Reporting for duty, Boss!",
				"All clear, Boss!",
				"Stay fresh, Boss."
			]
		}
	},
	"fangmerc_attack" : {
		"default" : {
			"callistan" : [
				"A worthy fight!!"
			],
			"default" : [
				"Awwooooooooo!"
			]
		}
	}
}