{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/objects/crafting/recycler/slots1to16.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "lblAmountInput" : {
      "type" : "image",
      "file" : "/objects/crafting/recycler/recycler.png:default.default",	  
      "maxSize" : [120, 80],
      "minSize" : [60, 60],
	  "centered" : true,
      "position" : [39, 79],
      "zlevel" : -3
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [81, 42],
      "dimensions" : [4, 2],
	  "slotOffset" : 1,
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
	"itemGrid2" : {
      "type" : "itemgrid",
      "position" : [90, 89],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "OUTPUT",
      "hAnchor" : "left",
      "position" : [86, 79]
    },
	"pointer" : {
      "type" : "image",
      "position" : [113, 87],
      "file" : "/objects/crafting/recycler/arrow.png"
    },
    "count" : {
      "type" : "label",
      "value" : "INPUT",
      "hAnchor" : "left",
      "position" : [88, 107]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine1to16.png",
      "position" : [0, 0]
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [8, 32],
      "hAnchor" : "left",
	  "color" : [100, 140, 225],
      "value" : "Subroutine: Material Reconstitution"
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [8, 24],
      "hAnchor" : "left",
	  "color" : [100,140,225],
      "value" : "Convert ^green;Materials ^green;<^white;--^darkgray;> ^darkgray;Blessed Liquid"
    }
  }
}
